* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat';
	background:
	url(https://images.pexels.com/photos/1216351/pexels-photo-1216351.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
	    ;
	    background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
}
